<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="3" name="Suite" parallel="tests" >
    <test name="KariyerLoginTest">
        <classes>
            <class name="tests.KariyerRecruiterLoginTest"/>
        </classes>
    </test> <!-- First Test -->
</suite> <!-- Suite -->